html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
}

@-webkit-keyframes switch-green {
  from { background-color: white;} to {background-color: rgb(163, 255, 163);}
}
@-webkit-keyframes switch-red {
  from { background-color: white;} to {background-color: rgb(255, 203, 203);}
}
.dragging {
  -webkit-animation: switch-green 0.5s ease-in-out 0 infinite alternate;
}

.invalid-dragging {
  -webkit-animation: switch-red 0.5s ease-in-out 0 infinite alternate;
}

ul {
  list-style: none;
  max-height: 120px;
  overflow-y: auto;
}

button, input[type=submit] {
  background-color: #0074CC;
  background-image: linear-gradient(top, #08C, #05C);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

